<div class="sidebar">
  <% if current_user %>

      <%= image_tag current_user.image_url, class: "avatar" %>
      <div class="card">
        <h1 class="name"><%= current_user.name %></h1>

        <p class="login"><%= current_user.username %></p>
      </div>
        <div class="card">
        <p class="email"><%= current_user.email %></p>
      </div>
  <% else %>
      <p>Log in to show data</p>
  <% end %>
</div>

<div class="col-md-3">
  <h3>Following</h3>
  <% @followings.each do |following| %>
        <p><%= image_tag(following[:avatar_url], size: "100x100", class: "img-thumbnail home-image") %></p>
        <p><strong><%= link_to following[:login], following[:html_url] %></strong></p>
  <% end %>
</div>